@import url('https://fonts.googleapis.com/css2?family=Mukta'); 
@import url('https://fonts.googleapis.com/css2?family=Merriweather');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}


:root{
    --white: #FFF;
    --red: #e63636;
    --dark1: #181818;
    --dark2:  #1e1e1e;
    --purple1: #9333FF;
    --purple2:  indigo;
}

body{
    font-family: 'Mukta';
    color: var(--dark1);
}

img{
    width: 100%;
}
