@import url('https://fonts.googleapis.com/css2?family=Mukta'); 
@import url('https://fonts.googleapis.com/css2?family=Merriweather');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}


:root{
    --white: #FFF;
    --red: #e63636;
    --dark1: #181818;
    --dark2:  #1e1e1e;
    --purple1: #9333FF;
    --purple2:  indigo;
}

body{
    font-family: 'Mukta';
    color: var(--dark1);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 9999999;
}

.cart{
    position: fixed;
    top: 0;
    right:0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--white);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.logo{
    font-size: 1.1rem;
    color: var(--dark1);
    font-weight: 400;
}

#icon{
    width: 12px;
    cursor: pointer;
}

section{
    padding: 4rem 0 3rem;
}

.shop{
    margin-top: 2rem;
}

.shop-content{
    display: grid;
    padding: 4rem 1rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5%;
}

.shop-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}


.product-box{
    position: relative;
}

.product-box:hover{
    padding: 10px;
    border: 1px solid var(--dark2);
    transition: 0.4s;

}

.product-box img{
    width: 300px;
    margin-bottom: 0.5rem;
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price{
    font-weight: 500;
}

.icon{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--dark2);
    color: var(--white);
    padding: 10px;
    cursor: pointer;
}

.icon:hover{
    background-color: var(--purple1);
}

.cart-box img{
    width: 300px;
}







